.kioboard {
    --hue: 194;
    --saturation: 94;
    --lightness: 49;
    --alpha: 1;
    --radius: 0.3;
    --gap: 0.3;
    --size: 2;
    --color: currentColor;
    --background: hsl(0 0% 90% / var(--alpha));
    --backgroundBtn: hsl(0 0% 100% / var(--alpha));
    --shadow: inset 0 -1px 0 hsl(0 0% 0% / 0.3);

    --keySize: clamp(
        0.2em,
        calc(var(--size) * 1vw),
        calc(var(--size) * 0.55em)
    );
    --accent: hsl(
        var(--hue) calc(var(--saturation) * 1%) calc(var(--lightness) * 1%) / 1
    );

    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 1rem;
    z-index: 9000;
    width: min-content;
    display: flex;
    flex-flow: column nowrap;
    gap: max(calc(var(--gap) * 1em), 0px);
    padding: calc(var(--gap) * 2em);
    backdrop-filter: blur(7px);
    max-width: 100%;

    transition: opacity 0.3s;
    font-size: var(--keySize);
    font-weight: 600;
    touch-action: none;
    border-radius: calc(var(--radius) * 2em);
    background: var(--background);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &.is-visible {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    /* Themes */

    &[data-kioboard-theme^="default"] {
        --gap: 0.3;
    }

    &[data-kioboard-theme^="flat"] {
        --gap: 0.1;
        --radius: 0px;
        --shadow: none;
    }

    &[data-kioboard-theme^="glass"] {
        border-radius: 0.2em;
        --alpha: 0.7;
        --shadow: none;
        --gap: 0.1;
        --radius: 0px;
    }

    &[data-kioboard-theme$="-dark"] {
        --color: hsl(0 0% 85% / 1);
        --background: hsl(0 0% 15% / var(--alpha));
        --backgroundBtn: hsl(0 0% 0% / var(--alpha));
    }

    /* Rows and buttons */

    & [data-kioboard-row] {
        display: flex;
        justify-content: center;
        gap: max(calc(var(--gap) * 1em), 0px);
    }

    & button {
        display: inline-flex;
        padding: 0;
        flex: 1 0 auto;
        touch-action: none;
        align-items: center;
        justify-content: center;
        height: calc(var(--keySize) * 2.8);
        min-width: calc(var(--size) * 1.5em);
        font: inherit;
        border: 0;
        color: var(--color);
        border-radius: calc(var(--radius) * 1em);
        box-shadow: var(--shadow);
        background: var(--backgroundBtn);
        transition: box-shadow 1s;
        user-select: none;
        -webkit-tap-highlight-color: hsl(0 0% 0% / 0);
        cursor: pointer;

        & .kioboard-icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        & svg {
            width: 1em;
            height: 1em;
            scale: 1.5;
            fill: var(--color);
        }

        &[data-kioboard-key="enter"] {
            flex-grow: 2.5;
            background-color: var(--accent);
        }

        &[data-kioboard-key="space"] {
            flex-grow: 10;
        }

        &[data-kioboard-key="drag"],
        &[data-kioboard-key="close"] {
            background: transparent;
            box-shadow: none;
        }

        &.is-active {
            animation: kioboardButtonActive 1s forwards;
        }

        .is-shift & {
            &[data-kioboard-key="shift"],
            &[data-kioboard-key="shift"].is-active {
                box-shadow: inset 0 0 0 0.2em var(--accent);
            }
        }

        .is-caps & {
            &[data-kioboard-key="shift"] {
                background: var(--accent);
                color: #fff;
            }
        }
    }

    /* Layer styles */

    &[data-kioboard-layer="numpad"] {
        & [data-kioboard-key="enter"] {
            flex-grow: 1;
        }
    }
}

@keyframes kioboardButtonActive {
    0% {
        box-shadow: inset 0 0 0 0.2em var(--accent);
    }
    100% {
        box-shadow: initial;
    }
}
